@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: inherit;
}

.avatar:hover {
  filter: drop-shadow(0 0 20px #FFE071);
}

.icons{
  @apply text-primary-two dark:text-secondary-two hover:text-primary-one hover:dark:text-secondary-one cursor-pointer transition-all duration-300 ease-in-out
}

.experiences {
  @apply text-sm md:text-base lg:text-lg
}

.primary-button {
  @apply w-full max-w-[200px] md:max-w-none flex gap-2 items-center justify-center bg-orange-light dark:bg-orange-dark text-primary-three dark:text-secondary-three rounded-xl p-3.5 md:p-5
}

.secondary-button {
  @apply w-full max-w-[200px] md:max-w-none bg-switch-light dark:bg-switch-dark text-primary-three dark:text-secondary-two rounded-xl p-3.5 md:p-5
}

.active-menu-button {
  @apply bg-switch-semilight dark:bg-dark text-primary-four dark:text-secondary-two
}

.menu-button {
  @apply rounded-xl p-3.5 flex-1 transition-all duration-300 ease-in-out dark:text-secondary-two
}

[data-theme='dark'] [data-hide-on-theme='dark'],
[data-theme='light'] [data-hide-on-theme='light'] {
  display: none;
}